<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TerpWeather</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: linear-gradient(to bottom, #1e293b, #0f172a);
            color: white;
        }

        .container {
            text-align: center;
            background: #1e293b;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            max-width: 800px;
            width: 100%;
        }

        h1 {
            font-size: 2rem;
            margin-bottom: 10px;
            color: white;
        }

        p {
            font-size: 1rem;
            margin-bottom: 20px;
        }

        input {
            margin-bottom: 10px;
            padding: 10px;
            width: calc(100% - 22px);
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1rem;
        }

        button {
            padding: 10px 20px;
            background-color: #0056b3;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
            width: 100%;
        }

        button:hover {
            background-color: #004494;
        }

        hr {
            margin: 20px 0;
            border: none;
            height: 1px;
            background: #ccc;
        }

        .main_header {
            font-size: 5rem;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="main_header">TerpWeather</h1>
        <form action="/weather" method="POST">
            <p>Enter a city / zipcode to check the weather:</p>
            <input type="text" name="location" placeholder="Enter city / zipcode" list="previous-searches" required>
            <datalist id="previous-searches">
                <% previousSearches.forEach(search => { %>
                    <option value="<%= search %>"></option>
                <% }); %>
            </datalist>
            <button type="submit">Check Weather</button>
        </form>
    </div>
</body>

</html>
