<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Summer Camp</title>
</head>

<body>
	<h1>Weather</h1>

    <h2>Enter a location:</h2>
    <form>
        <input type="text">
        <input type="submit">
    </form>
    
	<hr>
</body>

</html>